div{
  margin-top: 15px;
}

span{
  background-color: rgb(235, 219, 239);
  padding: 15px;
  margin-right: 5px;
  border-radius: 5px;
  font-weight: bold;
}

#name{
  font-weight: bold;
}

button{
  background-color: rgb(235, 219, 239);
}

#save{
  background-color: rgb(138, 195, 124);
}
