@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a{
  text-decoration: none;
  color: inherit;
}

h1 {
  color: rgb(128, 44, 153);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: rgb(193, 92, 223);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: rgb(121, 43, 143);
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 10px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: rgba(0, 0, 0, .1);
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

mat-form-field{
  margin-top: 10px;
}

ul{
  list-style: none;
}
